.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* card1 css */
.card1{
    margin-top: 20px;
    background-size: cover;
    height: 100%;
    width: 350px;
    padding: 0 0 20px 0;
    box-shadow: 5px 5px 5px grey;
    background-color: #10375C;
}
/* background image */
.back-img-2{
 background-image:  url(./pexels-jan-krnc-268225-1043458.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 199px;
}
.card-heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0 0 40px;
    color: #F4F6FF;
}
div h1{
    font-size: 30px;
}
div p{
    font-size: 25px;
}
.paragraph{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 20px 0 40px;
    color: #F4F6FF;
}
.button{
    display: flex;
    justify-content: center;
}
.clickme{
    padding: 20px;
    text-decoration: none;
    color: #10375C;
    width: 70%;
    text-align: center;
    background-color: #DBD3D3;
    font-size: 20px;
}


/* card2 css */
.card2{
   
    border: 1px solid grey;
    height: 550px;
    width: 350px;
    padding: 0 0 20px 0;
    box-shadow: 5px 5px 5px  grey;
    background-color: #10375C;
}
/* background image */
.back-img{
 background-image:  url(./pexels-galerieb-1209978.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 199px;
}
.card-heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0 0 40px;
    color: #F4F6FF;
    
}

/* card3 css */
.card3{
    margin-top: 20px;
    background-size: cover;
    border: 1px solid grey;
    height: 100%;
    width: 350px;
    padding: 0 0 20px 0;
    box-shadow: 5px 5px 5px grey;
    background-color: #10375C;
}
/* background image */
.back-img-3{
 background-image:  url(./pexels-samandgos-709552.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 199px;
}

/* card4 css */
.card4{
    margin-top: 60px;
    background-size: cover;
    border: 1px solid grey;
    height: 100%;
    width: 350px;
    padding: 0 0 20px 0;
    box-shadow: 5px 5px 5px grey;
    background-color: #10375C;
}
/* background image */
.back-img-4{
 background-image:  url(./pexels-torsten-kellermann-349167-955656.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 199px;
}

/* card5 css */
.card5{
    margin-top: 20px;
    border: 1px solid grey;
    height: 550px;
    width: 350px;
    padding: 0 0 20px 0;
    box-shadow: 5px 5px 5px  grey;
    background-color: #10375C;
}
/* background image */
.back-img-5{
 background-image:  url(./pexels-jan-krnc-268225-1043458.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 199px;
}
.card-heading{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0 0 0 40px;
    color: #F4F6FF;
    
}

/* card6 css */
.card6{
    margin-top: 60px;
    background-size: cover;
    border: 1px solid grey;
    height: 100%;
    width: 350px;
    padding: 0 0 20px 0;
    box-shadow: 5px 5px 5px grey;
    background-color: #10375C;
}
/* background image */
.back-img-6{
 background-image:  url(./pexels-torsten-kellermann-349167-955656.jpg);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 height: 199px;
}